@{
    ViewData["Title"] = "Air ticket booking app";
}
<div class="header">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="back">
    <p>
        Приложение работает в режиме пользователя и администратора
    </p>
    <p>
        Режим пользователя:
    </p>
    <p>
        1) Авторизация
    </p>
    <p>
        2) Просмотр расписаний авиарейсов (агрегатор внешних источников)
    </p>
    <p>
        3) Просмотр истории перелетов пользователя
    </p>
    <p>
        4) Личный кабинет пользователя
    </p>
    <p>
        Режим администратора:
    </p>
    <p>
        1) Авторизация
    </p>
    <p>
        2) Администрирование пользователей
    </p>
    <p>
        3) Администрирование расписания рейсов и работы с внешними операторами перелетов
    </p>
</div>

